.containerOne{
    width: 100%;
    min-height: calc(100vh - 70px) ;
    display: flex;
    margin-top: 80px;
    background-image: url(../../img/sectionOneFone.jpg);
    background-size: cover;
    background-position: center;
    
    
}
.contentOne{
    margin: 60px 100px 60px 0;
    background: #000c1ce0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 0 10px 10px 0;
    box-shadow: 7px 9px 20px 1px rgb(150 175 225 / 42%);
    border-top: 1px solid rgb(150 175 225 / 15%);
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.contentOneDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    h1{
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-gray-500);
        letter-spacing: 1px;
    }
    h4{
        color: var(--bs-gray-500);
        letter-spacing: 1.3px;
        line-height: 1.6;
        font-weight: 200;
        margin: 20px 0 0 ;
        text-align: center;
        text-transform: uppercase;
    }
    p{
        line-height: 1.6;
        letter-spacing: 1.3px;
        text-align: center;
        padding: 10px;
        color: var(--bs-gray-500);
    }
}
@media(max-width:716px){
  .contentOne{
    flex-direction: column;
    border-radius: 10px;
    margin: 100px 40px 100px 0;
  }
  .contentOneDescription{
    width: 100%;
  }
}